@{ 
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<form method="get" action="@Url.Action("SearchCoach", "Coach")">
    <label for="search">Введите имя:</label>
    <input type="text" name="name" id="search" value="@ViewData["searchpattern"]" />
    <button type="submit">Найти</button>
</form>
<h2>Результаты поиска</h2>
<table>
    <thead>
        <tr>
            <td>Имя</td>
            <td>Фамилия</td>
            <td>Номер телефона</td>
            <td>Зал ответственности</td>
            <td>&nbsp;</td>
        </tr>
    </thead>
       <tbody>
        @{
                foreach (var item in Model)
                {
                <tr>
                    <td>@item.FirstName</td>
                    <td>@item.LastName</td>
                    <td>@item.TelephoneNumber</td>
                    <td>@item.MainHall</td>
                </tr>
                }
                }
    </tbody>
</table>

